{% extends 'base.html' %}
{% block title %}
    Book appointment
{% endblock title %}
{% block main %}
    <div class="container">
        <form action="{{ url_for('bookAppointment') }}" method="POST">
            {% include 'flash_messages.html' %}
            <div class='mb-3'>
                <label for="title" class="form-label"> Appointment title</label>
                <input type="text" class="form-control" name="title" id="title">
            </div>
            <div class='mb-3'>
                <label for="start" class="form-label"> Start date</label>
                <input type="text" class="form-control" name="start" id="start" placeholder="Format is yy-mm-ddThh:mm Ignore Thh:mm if you need it for all day">
            </div>
            <div class='mb-3'>
                <label for="end" class="form-label"> End date</label>
                <input type="text" class="form-control" name="end" id="end" placeholder="leave empty for event to be all day">
            </div>
            <div class='mb-3'>
                <label for="title" class="form-label"> Event url</label>
                <input type="text" class="form-control" name="url" id="url" placeholder="Leave empty if no url">
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
    {% endblock%}
    {% block js %} {% endblock%}