{% extends "base.html" %}

{% include 'flash_messages.html' %}
{% block title %}
PLease set appointment
{% endblock title %}
{% block body %}
  <div class="container my-3">
    <div id="calendar"></div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function (){
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl,{
        initialView: 'dayGridMonth'
      });
      calendar.render();
    });
  </script>
    
    <form action="{{ url_for('calendar') }}" method="POST">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.emailAddress.label(class = "form-control-label") }}
        {{ form.emailAddress(class='form-control') }}
      </div>
      <div class="form-group">
        {{ form.password.label(class = "form-control-label") }}
        {{ form.password(class='form-control') }}
      </div>
      <button type="submit" name="submit" class="btn btn-primary btn-block">Log in</button>
    </form>
  </div>
{% endblock body %}
