{% extends "botbase.html" %}

{% block title %}Already Logged in{% endblock %}

{% block css %}
<style type="text/css">
  body{
    padding-top: 40px;
  }
  h1, p{
    text-align:center;
  }
  h1{
    font-size:64px;
    margin:75px 0 50px;
  }
  p{
    font-size:24px;
    margin:15px 0;
  }
</style>
{% endblock %}

{% block main %}
<br>
  <br>

<h1>Patient Page</h1>
<p>You are logged in as a patient.</p>

<div class='wrapper'>
  <div id="dialogue"></div>
  <form onSubmit="return chatbot.sendMessage()">
    <div class="text-box">
      <input type="text" name="message" id="message" autocomplete="off" disabled placeholder="Please wait... loading...">
      <input class="send-button" type="submit" value=">">
    </div>
  </form>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="https://unpkg.com/rivescript@latest/dist/rivescript.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/idewcomputing/code-chatbot/src/chatbot.js"></script>
<script src="/static/js/script.js"></script>

{% endblock %}